$path: "/dist/images/";

@import "node_modules/govuk-frontend/govuk/base";

@import "node_modules/govuk-frontend/govuk/core/all";
@import "node_modules/govuk-frontend/govuk/objects/all";
@import "node_modules/govuk-frontend/govuk/components/footer/index";
@import "node_modules/govuk-frontend/govuk/components/header/index";
@import "node_modules/govuk-frontend/govuk/components/skip-link/index";
@import "node_modules/govuk-frontend/govuk/utilities/all";
@import "node_modules/govuk-frontend/govuk/overrides/all";

#global-header .header-wrapper .header-global .header-content {
  color: #fff;
  font-size: 30px;
  font-weight: bold;
  margin: 0;
  width: 75%;
}

.column {
  float: left;
  width: 50%;
}

@media screen and (max-width: 960px) {
  .column {
    float: none;
    width: 100%;
  }
}